.button-nav {
    
    display: flex;
    justify-content: center;  

    }

.button-nav-link{
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    text-decoration: none;
    margin: 20px 20px;
    border-radius: 5px;
    min-width: 150px;
    height: auto;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
         border: 1px solid black;
    }
    
}
   
        
   
